body{
    margin: 0;
    font-family: 'Work Sans', sans-serif;
}
html{
    font-size: 14px;
}


/* IDE */
.IDE-section{
    padding: 3rem 15px;
    background-color: #f1f1f1;
}
.tabs{
    background-color: #f1f1f1;
    padding-right: 0px !important;
}
.tabs ul{
    background-color: #f1f1f1;
}
